# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
myenv/
env/
venv/

# Environment variables & secrets
.env
.env.*
!.env.example

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Databases & Logs
*.db
*.sqlite3
*.log
